<div ng-controller="orderedProductsViewController">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Title</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Sub-Total</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="orderItem in orderedItems.items">
                <td width="100px">{{orderItem.productId}}</td>
                <td width="300px">{{orderItem.productName}}</td>
                <td>{{orderItem.price}}$</td>
                <td>
                    <input type="number"
                           class="form-control"
                           placeholder="Enter quantity"
                           ng-model="orderItem.quantity"
                           style="width: 100px;"
                           ng-readonly="orderedItems.readonly"
                           ng-change="onChangeQuantity(orderItem)">
                </td>
                <td>{{orderItem.quantity * orderItem.price}}$</td>
                <td width="200px">
                    <button class="btn btn-default" ng-disabled="orderedItems.readonly" ng-click="removeItem(orderItem)">
                        <i class="glyphicon glyphicon-trash" style="margin-right: 15px;"></i>Delete
                    </button>
                </td>
            </tr>
            <tr ng-if="!orderedItems.items.length">
                <td colspan="7" class="text-center">No items</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-6">
            <button ng-show="!orderedItems.readonly" class="btn btn-default" data-toggle="modal" data-target="#addOrderProductModal">
                <i class="glyphicon glyphicon-plus" style="margin-right: 15px;"></i>Add New Item
            </button>
            @if (ViewBag.CustomButton != null)
            {
                @ViewBag.CustomButton(this)
            }
        </div>
        <div class="col-md-6">
            <h4 class="text-right">Total: {{getTotal()}}$</h4>
        </div>
    </div>

    @Html.Partial("AddOrderProductModal")
</div>
